/* Hero Section Styles */
.hello{
    background-image: url('images/hero-bg.jpg');
    background-size: cover;
    background-position: center;
    color: #003366;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    padding: 50px 20px;
}

/* Semi-transparent Overlay */
.overlay {
    background: linear-gradient(to right, rgba(158, 203, 247, 0.733), rgba(250, 251, 252, 0.63));
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;;
}

/*Navigation Bar*/
.nav-content {
    position: sticky;
    display: flex;
    justify-content: right;
    gap: 20px;
    margin-bottom: 20px;
    padding-right: 20px;
    
}

.nav-link {
    color: #065084;
    text-decoration: none;
    font-size: 24px;
}

.nav-link:hover {
    color: #0d2a4b;
    text-decoration: underline;
}

.profile-image {
    width: 4.2cm;
    height: 4.8cm;
    border-radius: 55%;
}

/* Hello Content  Styles*/
.hello-content {
    font-size: 25px;
    margin: 0 auto;
    padding: 20px;
}

/* Resume and Download Button Styles */
.web-buttons {
    background-color: #065084;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
}

.web-buttons:hover {
    background-color: #0d2a4b;
}

.hello-buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

/* Projects Section Styles */
/* Main Projects Section */
#projects {
    background: linear-gradient(to left, #ffffff, #cbe6f8);
    padding: 10px 10px;
    font-family: 'Times New Roman', Times, serif;
    color: #003366;
}

.section-heading {
    text-align: center;
    font-size: 30px;
    padding: 10px;
    margin-bottom: 10px;
}

/* Responsive Flex layout for project cards */
.web-sections {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

.web-cards {
    width: 500px;
    border: 4px solid #0b65a5;
    background: #ffffff;
    border-radius: 20%;
    padding: 2rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    font-size: 23px;
}

/* Project Card Hover Effect for it to scale */
.web-cards:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease;   
}

.project-image {
    width: 150px;
    height: 145px;
    border-radius: 10px;
}

.container {
     background: linear-gradient(to left, #d4f0f8, #e7f3fa);
     width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 30px 20px;
    font-family: 'Times New Roman', Times, serif;
    color: #003366;
        }

  .resume-image {
        width: 26vw;
        height: 24vw;
        border-top-right-radius: 50%; 
        border-bottom-right-radius: 50%;
        border-bottom-left-radius: 40%;
        overflow: hidden;
        position: absolute;
        left: 0;
        top: 0;
        display: flex;
             } 


 .resume-image img {
        width: 26vw;
        height: 24vw;
        position: left;
        object-fit: cover;
        display: flex;
        }

.info {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 20px;
            font-size: 30px;
            color: #003366;
        }

  .info h1 {
        font-size: 40px;
         margin-bottom: 10px;
        }
    
 .contact-icons {
     display: flex;
     justify-content: center;
     gap: 20px;
     flex-wrap: wrap;
     align-items: center;
     padding: 10px 20px;
     margin-top: 20px;
    font-family: sans-serif;
        }

 .contact-items {
     display: flex;
     align-items: center;
     padding: 10px;
     align-content: center;
     font-size: 25px;
     gap: 10px;
     font-size: 30px;
     font-family: 'Times New Roman', Times, serif;
        }

 .contact-items .icon {
         width: 30px;
         height: 30px;
        }

.experience{
    background: linear-gradient(to right, rgba(227, 236, 245, 0.8), rgba(255, 255, 255, 0.8));
    border-radius: 10px;
    padding: 10px 10px;
    font-family: 'Times New Roman', Times, serif;
    color: #003366;
    font-size: 30px;
    text-align: center;
    align-items: center;
}

.experience h2{
    font-size: 35px;
    margin-bottom: 5px;
}

.list{
    list-style-type: disc;
    list-style-position: inside;
    text-align: center;
    align-content: center;

}

#skills{
    text-align: center;
    color: #003366;
    font-size: 30px;
}

#about{
    color: #012850;
    background-image: url("images/about.jpg");
    background-size: cover;
    background-position: center;
    position: relative;
}

.about-content{
    background: linear-gradient(to right, rgba(229, 239, 248, 0.685), rgba(255, 255, 255, 0.918));
    width:100%;
    height: 100%;
    display: flex;
    margin: auto;
    flex-direction: column;
    justify-content: center;;  
    text-align: center; 
    font-family: 'Times New Roman', Times, serif;
    font-size: 35px;
}

.about-content h2{
    font-size: 60px;
}